name: test

on:
  push:
    paths-ignore:
      - '**.md'
      - 'LICENSE'

jobs:
  luacheck:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mah0x211/lua-ci:latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    -
      name: Install Tools
      run: luarocks install luacheck
    -
      name: Run luacheck
      run: |
        luacheck .

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lua-version:
          - "5.1."
          - "5.2."
          - "5.3."
          - "5.4."
          - "lj-v2.1"
    container:
      image: ghcr.io/mah0x211/lua-ci:latest
    steps:
    -
      name: Switch Lua Version
      run: |
        lenv -g use ${{ matrix.lua-version }}
        lua -v || true
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
    -
      name: Install Tools
      run: |
        luarocks install luacov
        luarocks install assert
        luarocks install time-sleep
    -
      name: Install
      run: |
        luarocks make
    -
      name: Run Test
      run: |
        lua ./test/canceler_test.lua
    -
      name: Upload lua coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests
        files: ./luacov.report.out
